body
{
	color: #212121;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}

@media only screen and (min-width: 1024px)
{
	header
	{
		padding: 0 10% 0 10%;
	}

	div.content
	{
		padding: 0 10% 0 10%;
		flex-direction: row;
	}

	div.half
	{
		width: 50%;
	}

	div.half + div.half
	{
		margin-left: 20px;
	}

	footer
	{
		margin: 0 10% 0 10%;
	}
}

@media only screen and (max-width: 1024px)
{
	div.content
	{
		padding: 0 10% 0 10%;
		flex-direction: column;
	}

	div.half
	{
		width: 100%;
	}
}

div.black-background
{
	background: rgba(33, 33, 33, 0.5);
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	display: none;
}

div.login-box
{
	background: #fff;
	width: 600px;
	max-width: 100%;
	z-index: 100;
	position: absolute;
}

input
{
	color: #757575;
	border: none;
	margin: 20px;
	font-family: "Ubuntu", sans-serif;
	outline: none;
}

input::placeholder
{
	color: #757575;
	font-family: "Ubuntu", sans-serif;
	font-size: 15px;
}

input[type="text"], input[type="password"]
{
	background: #b2dfdb;
	padding: 5px;
	max-width: 100%;
	width: 500px;
	height: 30px;
	font-size: 15px;
}

input[type="submit"]
{
	cursor: pointer;
}

div.top-bar
{
	background: #00796b;
	color: #fff;
	width: 100%;
	height: 20px;
}

header
{
	background: #009688;
	color: #fff;
	margin-bottom: 40px;
	height: 120px;
}

h1, p
{
	margin: 0;
	padding: 10px;
}

h1
{
	font-size: 25px;
}

p
{
	font-size: 15px;
}

div.content
{
	flex-direction: row;
	display: flex;
}

section
{
	padding: 0 0 40px 0;
	width: 100%;
	display: inline-block;
}

div.section-head
{
	background: #009688;
	color: #fff;
	width: 100%;
	height: 40px;
}

div.projects
{
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

li
{
	list-style-type: none;
	display: inline;
}

li a.project
{
	background-image: url("/assets/images/project_background.png");
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	color: #fff;
	margin: 10px 10px 0 10px;
	padding: 10px;
	width: 200px;
	height: 120px;
	text-decoration: none;
	display: block;
}

li a.project
{
	background-color: #009688;
}

li a.project:hover
{
	background-color: #00796b;
}

div.counter
{
	width: 100%;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 150px;
}

div.languages-chart
{
	flex-direction: row;
	display: flex;
}

li.lang
{
	margin: 0;
	height: 10px;
}

li.lang span
{
	display: none;
}

li.lang:hover span
{
	background: #212121;
	color: #fff;
	bottom: 50px;
	padding: 5px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	position: relative;
	display: block;
}

li.lang.assembly
{
	background: #fff;
	border: 1px solid #212121;
	border-right: 0;
	height: 8px;
}

li.lang.c
{
	background: #9e9e9e;
}

li.lang.cpp
{
	background: #303f9f;
}

li.lang.makefile
{
	background: #8bc34a;
}

li.lang.shell
{
	background: #4caf50;
}

li.lang.java
{
	background: #f44336;
}

li.lang.html
{
	background: #ff5722;
}

li.lang.css
{
	background: #03a9f4;
}

li.lang.javascript
{
	background: #ffeb3b;
}

footer
{
	background: #00796b;
	color: #fff;
}

footer div.login
{
	justify-content: flex-end;
	display: flex;
}

a.button, input[type="submit"]
{
	background: #00bcd4;
	color: #fff;
	box-shadow: 5px 5px 5px #212121;
	margin: 10px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	display: block;
}
